# {{ ansible_managed }}
#
# SnapRAID configuration file

# Parity location(s)
{% for disk in parity_disks %}
{{ loop.index}}-parity {{ disk.path }}/snapraid.parity
{% endfor %}

# Content file location(s)
content /var/snapraid.content
{% for disk in parity_disks %}
{% if disk.content == true %}
content {{ disk.path }}/snapraid.content
{% endif %}
{% endfor %}
{% for disk in data_disks %}
{% if disk.content == true %}
content {{ disk.path }}/.snapraid.content
{% endif %}
{% endfor %}

# Data disks
{% for disk in data_disks %}
data d{{ loop.index }} {{ disk.path }}
{% endfor %}

# Excludes hidden files and directories (uncomment to enable).
{% if snapraid_config_hidden_files_enabled %}
{{ snapraid_config_hidden_files }}
{% endif %}

{% for item in snapraid_config_excludes %}
exclude {{ item }}
{% endfor %}
